.hero {
  display: flex;
  justify-content: center;

  text-align: center;
  position: relative;
  overflow-x: hidden;
  height: 22.375rem;
}

.hero--img-left {
  display: block;
  width: 30%;
  position: absolute;
  left: -2rem;
  z-index: -1;
}

.hero--img-right {
  display: block;
  position: absolute;
  width: 30%;
  right: -2rem;
  bottom: 0;
  z-index: -1;
}

.hero--img-tablet {
  display: none;
}

.hero--wrapper {
  flex: 0 1 33.5rem;
  align-self: flex-end;
}

.hero--title {
  margin: 0 auto;
  max-width: 27.75rem;
  font-size: 4rem;
  font-weight: 900;
  line-height: 1;
  color: #28283d;
  margin-bottom: 2rem;
}

.hero--text {
  max-width: 100%;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.44;
  color: #87879d;
  margin-bottom: 2rem;
}

.hero--actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
