.app {
  margin-top: 5rem;
}

@media (max-width: 58.25em) {
  .app {
    margin-top: 4rem;
  }
}

@media (max-width: 48em) {
  .app {
    margin-top: 3.5rem;
  }
}

@media (max-width: 37.5rem) {
  .app {
    margin-top: 3rem;
  }
}
